.profile-container {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 991px) {
  .profile-container {
    width: 100%;
    margin: auto;
  }
  .profile-view-follow-container {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.profile-mobile-view-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 20px;
}
@media screen and (min-width: 992px) {
  .profile-mobile-view-heading {
    display: none;
  }
  .profile-view-follow-container {
    display: flex;
    flex-direction: row;
  }
  .profile-view-follow-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    width: 60%;
  }
  .follow-para {
    font-size: 14px;
    font-weight: 400;
    padding-left: 3px;
  }
}
.profile-view-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
}

.profile-view-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.profile-view-sub-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 100%;
}
.profile-desktop-view-heading {
  font-family: 'Roboto';
  font-size: 32px;
}

.profile-view-follow-heading {
  font-size: 16px;
  font-family: 'Roboto';
}
.profile-desktop-view-sub-heading {
  font-size: 16px;
}
.profile-desktop-view-user-bio {
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .profile-desktop-view-follow-container {
    text-align: center;
  }
  .profile-view-image {
    width: 96px;
    height: 96px;
  }
  .profile-desktop-view-heading {
    display: none;
  }
  .profile-view-follow-heading-container {
    text-align: center;
  }
  .follow-para {
    font-size: 12px;
  }
  .profile-desktop-view-sub-heading {
    display: none;
  }
  .profile-desktop-view-user-bio {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .profile-mobile-view-follow-heading1 {
    display: none;
  }
  .profile-mobile-view-sub-heading {
    display: none;
  }
  .profile-mobile-view-user-bio {
    display: none;
  }
}
.profile-mobile-view-follow-heading1 {
  font-size: 16px;
  font-weight: 400;
}
.profile-mobile-view-sub-heading {
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
}
.profile-mobile-view-user-bio {
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 5px;
}
.profile-story-sub-container {
  border-radius: 50%;
  border: 2px solid #dbdbdb;
  margin: 10px;
}
.profile-story-image {
  border-radius: 50%;
  height: 78px;
  width: 78px;
  margin: 1px;
}
@media screen and (max-width: 991px) {
  .profile-story-image {
    height: 56px;
    width: 56px;
  }
}
.profile-post-container {
  border-top: 1px solid #c6c6c8;
}
.posts-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.posts-section-heading {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}
.profile-post-image {
  width: 330px;
  height: 330px;
}
@media screen and (max-width: 991px) {
  .profile-post-image {
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 767px) {
  .profile-post-image {
    width: 230px;
    height: 230px;
  }
  @media screen and (max-width: 576px) {
    .profile-post-image {
      width: 180px;
      height: 180px;
    }
  }
  @media screen and (max-width: 276px) {
    .profile-post-image {
      width: 118px;
      height: 118px;
    }
  }
}
.profile-no-posts-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-no-posts-icon-container {
  border: 2px solid #262626;
}
.profile-no-posts-heading {
  font-size: 32px;
  font-weight: 300;
}
.profile-posts-container {
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profile-story-container {
  list-style-type: none;
  padding-left: 0;
}
