.post-container {
  min-height: 100vh;
}
.post-initial-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.post-initial-view-heading {
  font-size: 20px;
  font-weight: 400;
  color: #dbdbdb;
}
.post-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 80vh;
}
.post-failure-view-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #262626;
}
.post-failure-view-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #989898;
}
.post-failure-view-image {
  width: 258px;
  height: 210px;
}
@media screen and (min-width: 767px) {
  .post-failure-view-heading {
    font-size: 32px;
  }
  .post-failure-view-para {
    font-size: 20px;
  }
  .post-failure-view-image {
    width: 500px;
    height: 409px;
  }
}
.search-container {
  background-color: #f8fafc;
  min-height: 100%;
}
.search-results-main-container {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 40px;
  border-radius: 40px;
  padding: 10px;
}
@media screen and (max-width: 991px) {
  .search-results-main-container {
    width: 100%;
  }
}
.search-results-main-container {
  list-style-type: none;
  padding-left: 0;
  padding: 20px;
}
.search-results-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .search-results-heading {
    display: none;
  }
}
.search-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-failure-icon {
  height: 274px;
  width: 560px;
}
.search-failure-heading {
  font-family: 'Roboto';
  font-size: 32px;
}
@media screen and (max-width: 991px) {
  .search-failure-icon {
    height: 200px;
    width: 400px;
  }
  .search-failure-heading {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .search-failure-icon {
    height: 157px;
    width: 360px;
  }
  .search-failure-heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .search-failure-icon {
    height: 127px;
    width: 260px;
  }
  .search-failure-heading {
    font-size: 20px;
  }
}
