.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 766px) {
  .header {
    justify-content: space-between;
  }
}
.website-logo-image {
  width: 59px;
  height: 30px;
}
.website-logo-heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .main-header {
    width: 80%;
    margin: auto;
  }
  .header {
    padding-left: 25px;
    padding-right: 25px;
  }
  .website-logo-image {
    width: 50px;
    height: 22px;
  }
  .website-logo-heading {
    font-size: 18px;
  }
}
.header-first {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hamburger-menu-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
}
@media screen and (min-width: 767px) {
  .hamburger-menu-btn {
    display: none;
  }
  .list-item {
    margin-right: 20px;
  }
}
.desktop-view-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-bottom: 0;
}
.desktop-view-search-container {
  border: 1px solid #dbdbdb;
  width: 214px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: #dbdbdb;
}
.search-input {
  font-size: 14px;
  border-width: 0;
}
.search-input:focus {
  outline: none;
}
.search-icon-btn {
  background-color: transparent;
  outline: none;
  border-width: 0;
}
.desktop-view-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
  font-size: 16px;
}

@media screen and (max-width: 766px) {
  .desktop-view-header {
    display: none;
  }
  .search-btn-container {
    display: none;
  }
  .search-input {
    display: none;
  }
  .search-icon-btn {
    display: none;
  }
  .desktop-view-btn {
    display: none;
  }
  .desktop-logout-btn {
    display: none;
  }
}
.mobile-view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.mobile-view-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
  font-size: 14px;
}
.mobile-view-close-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
}
@media screen and (min-width: 767px) {
  .mobile-view-container {
    display: none;
  }
  .mobile-view-btn {
    display: none;
  }
  .mobile-logout-btn {
    display: none;
  }
  .mobile-view-close-btn {
    display: none;
  }
}
