/* .nav-bar-container {
  padding: 20px;
}
.mobile-view-header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .mobile-view-header-scroll {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-view-search {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .mobile-view-scroll {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .search-link {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .mobile-view-search {
    display: none;
  }
  .mobile-view-header-scroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
  }
  .mobile-view-scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
} */
.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 766px) {
  .header-section {
    justify-content: space-between;
  }
}
.website-logo-image {
  width: 59px;
  height: 30px;
}
.website-logo-heading-section {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .main-header-section {
    width: 80%;
    margin: auto;
  }
  .header-section {
    padding-left: 25px;
    padding-right: 25px;
  }
  .website-logo-image {
    width: 50px;
    height: 22px;
  }
  .website-logo-heading-section {
    font-size: 18px;
  }
}
.header-first-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hamburger-menu-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
}
@media screen and (min-width: 767px) {
  .hamburger-menu-button {
    display: none;
  }
  .btn-item {
    margin-right: 20px;
  }
  .mobile-search-btn-container-section {
    display: none;
  }
}
.desktop-view-header-section {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-bottom: 0;
}
.desktop-view-search-container-section {
  border: 1px solid #dbdbdb;
  width: 214px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-btn-container-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: #dbdbdb;
}
.mobile-search-btn-container-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: #dbdbdb;
}
.search-input-header {
  font-size: 14px;
  border-width: 0;
}
.search-input-header:focus {
  outline: none;
}
.search-icon-button {
  background-color: transparent;
  outline: none;
  border-width: 0;
}

.desktop-view-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
  font-size: 16px;
}
.mobile-search-input-header {
  font-size: 14px;
  border-width: 0;
}
.mobile-search-input-header:focus {
  outline: none;
}

@media screen and (max-width: 766px) {
  .desktop-view-header-section {
    display: none;
  }
  .search-btn-container-section {
    display: none;
  }
  .search-input-header {
    display: none;
  }
  .search-icon-button {
    display: none;
  }
  .desktop-view-button {
    display: none;
  }
  .desktop-logout-button {
    display: none;
  }
}
.mobile-view-container-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mobile-view-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
  font-size: 14px;
}
.mobile-view-close-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0;
}
.mobile-view-search-main-container-section {
  text-align: center !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-view-search-container-section {
  border: 1px solid #dbdbdb;
  width: 214px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.mobile-search-icon-button {
  background-color: transparent;
  outline: none;
  border-width: 0;
}
@media screen and (min-width: 767px) {
  .mobile-view-container-section {
    display: none;
  }
  .mobile-view-button {
    display: none;
  }
  .mobile-logout-button {
    display: none;
  }
  .mobile-view-close-button {
    display: none;
  }
  .mobile-view-search-container-section {
    display: none;
  }
  .mobile-view-search-main-container-section {
    display: none;
  }
  .mobile-search-icon-btn {
    display: none;
  }
  .mobile-search-input-header {
    display: none;
  }
  .mobile-search-input-header:focus {
    display: none;
  }
}
